<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="keywords" content=""/>

    <script type="application/x-javascript">
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>

    <!-- font files  -->
    <link href='https://fonts.googleapis.com/css?family=Muli:400,300' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Nunito:400,300,700' rel='stylesheet' type='text/css'>
    <!-- /font files  -->

    <!-- css files -->
    <link th:href="@{/static/login/css/style.css}" rel='stylesheet' type='text/css' media="all"/>
    <!-- /css files -->
</head>
<body>
<h1>电控部</h1>
<div class="log">
    <!--管理员登录-->
    <div class="content1">
        <h2>管理员登录</h2>
        <!--th:if determine if the p tag exists-->
        <p style="color:red" th:text="${adminErrorMessage}" th:if="${not #strings.isEmpty(adminErrorMessage)}"></p>
        <p style="color:red" th:text="${errorMessage}" th:if="${not #strings.isEmpty(errorMessage)}"></p>

        <form method="post" th:action="@{/login/adminLogin}">
            <input type="text" name="admin_email" value="管理员邮箱" onfocus="this.value = '';"
                   onblur="if (this.value == '') {this.value = 'EMAIL';}">
            <input type="password" name="admin_password" value="PASSWORD" onfocus="this.value = '';"
                   onblur="if (this.value == '') {this.value = 'PASSWORD';}">

            <div class="button-row">
                <input type="submit" class="sign-in" value="Sign In">
                <input type="reset" class="reset" value="Reset">
                <div class="clear"></div>
            </div>

        </form>

    </div>


    <!--员工登录-->
    <div class="content2">
        <h2>员工登录</h2>
        <!--th:if determine if the p tag exists-->
        <p style="color:red" th:text="${employeeErrorMessage}" th:if="${not #strings.isEmpty(employeeErrorMessage)}"></p>
        <p style="color:red" th:text="${errorMessage}" th:if="${not #strings.isEmpty(errorMessage)}"></p>

        <form method="post" th:action="@{/login/employeeLogin}">
            <input type="text" name="employeeEmail" value="员工邮箱" onfocus="this.value = '';"
                   onblur="if (this.value == '') {this.value = 'EMAIL';}">
            <input type="password" name="employeePassword" value="PASSWORD" onfocus="this.value = '';"
                   onblur="if (this.value == '') {this.value = 'PASSWORD';}">

            <div class="button-row">
                <input type="submit" class="sign-in" value="Sign In">
                <input type="reset" class="reset" value="Reset">
                <div class="clear"></div>
            </div>

        </form>

    </div>

    <div class="clear"></div>
</div>


<div class="footer">
    <p>
        Copyright &copy; 2016.Company name All rights reserved.More Templates
        <a href="http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a>
        - Collect from
        <a href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a>
    </p>
</div>

</body>
</html>